.container {
    display: flex;
    justify-content: flex-end;
}

.submit {
  background-color: #606c38;
  color: #fefae0;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  font-family: "Tinos", serif;
  width: 30em;
  font-size: 1.1em;
  height: 50px;
}

.output {
  list-style-type: none;
}

