.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question {
  font-size: 1.5rem;
  color: #FEFAE0;
}

.input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
  max-width: 600px;
  font-family: "Tinos", serif;
  border: none;
}

.submit {
  margin: 0.5rem 0;
    background-color: #606C38;
    color: #FEFAE0;
    border: none;
    padding: 0.3rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    font-family: "Tinos", serif;
    width: 100%;
    max-width: 400px;
    font-size: 1.1em;
}

.output {
  font-size: 1.3rem;
  margin-top: 1rem;
  list-style-type: none;
  color: #FEFAE0;
  text-align: left;
}